body {
    font-family: Arial, sans-serif;
    background-image: url(./img/petpaws.jpg);
}

header {
    background: saddlebrown;
    color: white;
    padding: 10px;
    text-align: center;
}

nav {
    text-align: center;
    margin-top: 10px;
}

nav button {
    margin: 5px;
}

h2 {
    text-align: center;
}

.form-container {
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 500px;
    margin: auto;
}

footer {
    background: saddlebrown;
    color: white;
    padding: 0;
    margin: 0;
    border: solid;
    height: 120px;
    width: 1925px;
    max-width: 1275px;
}

