body {
    font-family: Arial, sans-serif;
    background-image: url(./img/petpaws.jpg);
}

header {
    background: saddlebrown;
    color: white;
    padding: 15px;
    text-align: center;
}

h2 {
    text-align: center;
}

.form-container {
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 500px;
    margin: auto;
}

.card {
    transition: transform 0.3s ease-in-out;
    background: rgba(255, 255, 255, 0.9);
}

.card2 {
    width: 18rem;
}

.card:hover {
    transform: scale(1.05);
}

.btn-warning {
    margin-right: 5px;
}

#petsDisplay .card {
    margin: 10px;
}
